Source: thrift
Section: devel
Priority: optional
Maintainer: H. Kerem Cevahir <kerem@medra.com.tr>
Build-Depends: debhelper (>= 5), g++, libboost-dev, libevent-dev, python-dev, automake, pkg-config, libtool, flex, bison, sun-java6-jdk, php5-cli, erlang-nox
Standards-Version: 3.8.0

Package: thrift
Architecture: any
Depends: erlang-nox, python, sun-java6-jre
Description: Thrift is a software framework for scalable cross-language services development. It combines a software stack with a code generation engine to build services that work efficiently and seamlessly between C++, Java, Python, PHP, Ruby, Erlang, Perl, Haskell, C#, Cocoa, Smalltalk, and OCaml.
